ul {
  margin-bottom: 0;
  list-style: none;
  padding-left: 0;
}


html {
  /* width */
  ::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: $dark;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $primary;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: darken($primary, 20);
  }
}