.course-card {
  border-radius: $border-radius-lg;
  background-color: $light;
  font-family: 'Noto Sans TC', serif;
  display: flex;
  flex-direction: column;
  position: relative;

  &-header,
  &-footer {
    text-align: center;
  }

  &-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 0.5rem;
  }

  &-speaker {
    font-size: 16px;
  }

  &-name {
    font-size: 20px;
    line-height: 29px;
    font-weight: 700;
    text-align: left;
  }

  &-tag {
    display: block;
    color: $primary;
    text-align: left;
    margin-bottom: 0.5rem;
  }

  &-content {
    text-align: justify;
  }

  &-hours {
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.5rem;
  }

  &-price {
    display: inline-block;
    font-size: 32px;
    line-height: 37px;
    vertical-align: middle;
    font-family: $font-secondary;
  }

  &-hover:hover {
    @include lg {
      border-color: $primary;
    }
  }

  &-normal {
    height: 100%;
    border: 2px solid transparent;

    .course-card-header,
    .course-card-footer {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
    }

    .course-card-body {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      padding-bottom: 2rem;
      margin-bottom: auto;
    }

    .course-card-footer {
      border-top: 1px solid $white;
    }

    .course-card-speaker {
      margin-bottom: 0.5rem;
    }

    .course-card-name {
      margin-bottom: 0.5rem;
      @include md {
        min-height: 59px;
      }
    }

    .course-card-link{
      &:hover {
        color: $white;
      }

      &::after {
        content: '';
        position: absolute;
        inset: 0;
        border-radius: $border-radius-lg;
      }
    }
  }

  &-fluid {
    padding: 2rem 1.5rem;
    column-gap: 3rem;

    @include lg {
      flex-direction: row;
      padding: 3rem;
    }

    .course-card-body {
      flex-grow: 1;
    }

    .course-card-name {
      margin-bottom: 0.25rem;

      @include lg {
        font-size: 24px;
        line-height: 35px;
      }
    }

    .course-card-content {
      margin-bottom: 3rem;

      @include md {
        margin-bottom: 0;
      }
    }

    .course-card-hours {
      @include lg {
        margin-right: 0;
        margin-bottom: 0.25rem;
      }
    }

    .course-card-link {
      display: flex;
      column-gap: 0.5rem;
      align-items: center;
      justify-content: center;

      @include md {
        flex-wrap: wrap;

        span {
          width: 100%;
        }
      }
    }

    .course-card-btn {
      display: flex;
      column-gap: 0.5rem;

      a {
        flex-grow: 1;
      }

      @include md {
        flex-wrap: wrap;
        row-gap: 0.5rem;
      }
    }
  }
}