.intro {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;

  @include md {
    padding-top: 82px;
    padding-bottom: 0;
    padding-bottom: 83px;
  }

  &-price {
    // TODO:sticky
    position: sticky;
    top: 173px;
    border: 1px solid $white;
    padding: 2.5rem 1.5rem;

    @include md {
      padding: 2.5rem;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 10px;
      height: 10px;
      background-color: $white;
      top: -5px;
    }

    &::before {
      left: 0;
      transform: translateX(-50%);
    }

    &::after {
      right: 0;
      transform: translateX(50%);
    }

    ul {
      &::before,
      &::after {
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        background-color: $white;
        bottom: -5px;
      }

      &::before {
        left: 0;
        transform: translateX(-50%);
      }

      &::after {
        right: 0;
        transform: translateX(50%);
      }
    }

    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 1rem;
      padding-bottom: 1rem;
      transition: 0.3s;

      &:first-of-type {
        padding-top: 0;
      }

      &:last-of-type {
        padding-bottom: 0;
      }

      p {
        font-size: 24px;
        line-height: 28px;
        font-family: $font-secondary;
      }

      .material-icons {
        display: block;
      }

      &:hover {
        color: $primary;
      }
    }

    li + li {
      border-top: 1px solid $white;
    }
  }

  &-sub-title {
    font-size: 20px;
    line-height: 29px;
    margin-bottom: 1rem;
  }

  &-content-block {
    border-radius: $border-radius-lg;
    padding: 1.5rem;

    @include lg {
      padding: 2rem;
    }
  }

  &-speaker-info {
    ul {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem 1.5rem;
      padding-bottom: 1.5rem;
      border-bottom: 1px solid $white;
      margin-bottom: 1.5rem;

      @include lg {
        flex-direction: row;
        padding-bottom: 2rem;
        margin-bottom: 2rem;
      }
    }

    li {
      display: flex;
      width: 100%;

      @include lg {
        width: calc(50% - 0.75rem);
      }
    }

    .material-icons {
      color: $primary;
    }

    span {
      margin-right: 0.5rem;
      vertical-align: middle;
      flex-shrink: 0;
    }

    p {
      text-align: justify;
    }
  }

  &-course-info {
    h3 {
      padding-left: 0.5rem;
      border-left: 3px solid $primary;
      font-size: 18px;
      line-height: 26px;
    }

    li {
      display: flex;
      align-items: center;

      &::before {
        content: '';
        background-color: $primary;
        width: 5px;
        height: 5px;
        margin-right: 0.5rem;
      }
    }
  }
}