.border-gradient {
  &::after {
    content: '';
    position: fixed;
    left: 0;
    top: 72px;
    background-image: linear-gradient(90deg, $secondary 50%,$primary 50%);
    height: 2px;
    width: 100%;

    @include lg {
      top: 90px;
    }
  }
}

.underline-primary {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: -1rem;
    width: 50px;
    height: 3px;
    background-color: $primary;
  }

  &.text-center::after {
    left: 50%;
    transform: translateX(-50%);
  }

  &.text-lg-start {
    &::after {
      left: 50%;
      transform: translateX(-50%);

      @include lg {
        left: 0;
        transform: none;
      }
    }
  }
}

.gap-y-6 {
  row-gap: 1.5rem;
}

.btn {
  &-gradient {
    background-color: $primary;
    background-image: linear-gradient(90deg, $secondary, $primary);
    background-repeat: no-repeat;
    border: 0;

    &:hover {
      animation: run 2s linear infinite;
    }
  }

  &-fluid {
    width: 100%;
    text-align: center;
  }
}

@keyframes run {
  0% {
    background-size: 5px 100%;
  }

  15% {
    background-size: 100% 100%;
  }
}

.rounded-ssm {
  border-radius: 4px;
}

.text-justify {
  text-align: justify;
}

